In [1]:
import pandas as pd

In [2]:
# First read the original CSV file in order to get the original dataframe
original_df = pd.read_csv('../Original_CSV/inViales_2022_2024.csv')
original_df.head()

,folio,fecha_creacion,hora_creacion,dia_semana,fecha_cierre,hora_cierre,tipo_incidente_c4,incidente_c4,alcaldia_inicio,codigo_cierre,clas_con_f_alarma,tipo_entrada,alcaldia_cierre,alcaldia_catalogo,colonia_catalogo,longitud,latitud
0,C2C/20211229/00212,2021-12-29,23:21:20,Miércoles,2022-01-01,00:24:06,Lesionado,Atropellado,NaN,I,URGENCIAS MEDICAS,BOTÓN DE AUXILIO,NaN,Cuauhtémoc,Roma Norte,-99.163670,19.421610
1,C2C/20211231/00183,2021-12-31,23:48:03,Viernes,2022-01-01,06:29:52,Lesionado,Atropellado,CUAUHTEMOC,A,URGENCIAS MEDICAS,BOTÓN DE AUXILIO,CUAUHTEMOC,Cuauhtémoc,Obrera,-99.144270,19.409910
2,C2C/20220101/00012,2022-01-01,01:06:39,Sábado,2022-01-01,06:00:12,Accidente,Choque con lesionados,CUAUHTEMOC,A,URGENCIAS MEDICAS,BOTÓN DE AUXILIO,CUAUHTEMOC,Cuauhtémoc,Doctores,-99.148320,19.415250
3,C2C/20220101/00070,2022-01-01,09:51:53,Sábado,2022-01-01,12:54:10,Accidente,Motociclista,CUAUHTEMOC,A,URGENCIAS MEDICAS,RADIO,CUAUHTEMOC,Miguel Hidalgo,Tlaxpana,-99.165781,19.443649
4,C2N/20211231/00128,2021-12-31,23:03:05,Viernes,2022-01-01,06:16:42,Accidente,Choque sin lesionados,IZTACALCO,A,EMERGENCIA,BOTÓN DE AUXILIO,IZTACALCO,Iztacalco,Agricola Pantitlan,-99.060450,19.414620

In [3]:
#In this section we create a new csv for alcaldias
alcaldias = original_df[['alcaldia_catalogo']].drop_duplicates().rename(columns={'alcaldia_catalogo': 'alcaldia'}).reset_index(drop=True).dropna()
alcaldias['id'] = alcaldias.index + 1
alcaldias = alcaldias[['id', 'alcaldia']]


alcaldias.to_csv('../Mod_CSV/alcaldias.csv', index=False)
alcaldias

    id                alcaldia
0    1              Cuauhtémoc
1    2          Miguel Hidalgo
2    3               Iztacalco
3    4     Venustiano Carranza
4    5       Gustavo A. Madero
5    6              Xochimilco
6    7                 Tláhuac
7    8              Iztapalapa
8    9          Álvaro Obregón
9   10            Azcapotzalco
10  11                 Tlalpan
11  12                Coyoacán
12  13              Milpa Alta
13  14   Cuajimalpa de Morelos
14  15           Benito Juárez
15  16  La Magdalena Contreras

In [4]:
# we drop some alcaldias columns that weren't helpful
original_df_1 = original_df.drop(columns=['alcaldia_inicio','alcaldia_cierre', 'tipo_incidente_c4'])
original_df_1 = original_df_1[original_df_1['incidente_c4'] != 'Persona atropellada']
original_df_1

,folio,fecha_creacion,hora_creacion,dia_semana,fecha_cierre,hora_cierre,incidente_c4,codigo_cierre,clas_con_f_alarma,tipo_entrada,alcaldia_catalogo,colonia_catalogo,longitud,latitud
0,C2C/20211229/00212,2021-12-29,23:21:20,Miércoles,2022-01-01,00:24:06,Atropellado,I,URGENCIAS MEDICAS,BOTÓN DE AUXILIO,Cuauhtémoc,Roma Norte,-99.163670,19.421610
1,C2C/20211231/00183,2021-12-31,23:48:03,Viernes,2022-01-01,06:29:52,Atropellado,A,URGENCIAS MEDICAS,BOTÓN DE AUXILIO,Cuauhtémoc,Obrera,-99.144270,19.409910
2,C2C/20220101/00012,2022-01-01,01:06:39,Sábado,2022-01-01,06:00:12,Choque con lesionados,A,URGENCIAS MEDICAS,BOTÓN DE AUXILIO,Cuauhtémoc,Doctores,-99.148320,19.415250
3,C2C/20220101/00070,2022-01-01,09:51:53,Sábado,2022-01-01,12:54:10,Motociclista,A,URGENCIAS MEDICAS,RADIO,Miguel Hidalgo,Tlaxpana,-99.165781,19.443649
4,C2N/20211231/00128,2021-12-31,23:03:05,Viernes,2022-01-01,06:16:42,Choque sin lesionados,A,EMERGENCIA,BOTÓN DE AUXILIO,Iztacalco,Agricola Pantitlan,-99.060450,19.414620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504256,C5/20240229/04009,2024-02-29,19:53:36,Jueves,2024-02-29,23:16:21,Choque con lesionados,A,URGENCIAS MEDICAS,LLAMADA DEL 911,Iztapalapa,El Vergel,-99.087270,19.320600
504257,C5/20240229/04038,2024-02-29,20:01:42,Jueves,2024-02-29,23:06:17,Choque con lesionados,A,URGENCIAS MEDICAS,RADIO,Cuauhtémoc,Centro,-99.125200,19.428723
504258,C5/20240229/04286,2024-02-29,20:43:20,Jueves,2024-02-29,23:46:22,Choque con lesionados,D,URGENCIAS MEDICAS,LLAMADA DEL 911,Iztapalapa,Apatlaco,-99.119881,19.380011
504259,C5/20240229/04300,2024-02-29,20:46:18,Jueves,2024-02-29,23:56:17,Motociclista,F,URGENCIAS MEDICAS,LLAMADA DEL 911,Iztapalapa,Guadalupe Del Moral,-99.080981,19.369412
504260,C5/20240229/04349,2024-02-29,20:53:56,Jueves,2024-02-29,23:58:48,Choque sin lesionados,A,EMERGENCIA,LLAMADA DEL 911,Iztapalapa,Juan Escutia,-99.054112,19.397305

In [5]:
#In this section we create a new csv for alcaldias
tipoincidente = original_df_1[['incidente_c4']].drop_duplicates().rename(columns={'incidente_c4': 'tipo_incidente'}).reset_index(drop=True).dropna()
tipoincidente['id'] = tipoincidente.index + 1
tipoincidente = tipoincidente[['id', 'tipo_incidente']]


tipoincidente.to_csv('../Mod_CSV/tipoincidente.csv', index=False)
tipoincidente

    id                    tipo_incidente
0    1                       Atropellado
1    2             Choque con lesionados
2    3                      Motociclista
3    4             Choque sin lesionados
4    5                         Volcadura
5    6              Choque con prensados
6    7            Vehiculo desbarrancado
7    8  Persona atrapada / desbarrancada
8    9                          Ciclista
9   10           Vehículo atrapadovarado
10  11         Accidente automovilístico
11  12             Incidente de tránsito
12  13                             Otros
13  14                         Monopatín
14  15                       Ferroviario

In [6]:
# We use the count in order to clean the data
tipo_incidente_counts = original_df_1['incidente_c4'].value_counts()
tipo_incidente_counts_df = tipo_incidente_counts.reset_index().rename(columns={'index': 'tipo_incidente', 'incidente_c4': 'cantidad'})
tipo_incidente_counts_df

                            cantidad   count
0              Choque sin lesionados  231050
1              Choque con lesionados  146747
2                        Atropellado   52724
3                       Motociclista   50294
4                          Volcadura    9040
5                           Ciclista    6603
6   Persona atrapada / desbarrancada    2718
7            Vehículo atrapadovarado    2069
8               Choque con prensados     936
9          Accidente automovilístico     849
10             Incidente de tránsito     382
11            Vehiculo desbarrancado     263
12                             Otros     263
13                         Monopatín     204
14                       Ferroviario      93

In [7]:
colonias = original_df[['colonia_catalogo']].drop_duplicates().rename(columns={'colonia_catalogo': 'colonia'}).reset_index(drop=True).dropna()
colonias['id'] = colonias.index + 1
colonias = colonias[['id', 'colonia']]
colonias.to_csv('../Mod_CSV/colonias.csv', index=False)
colonias

        id                            colonia
0        1                         Roma Norte
1        2                             Obrera
2        3                           Doctores
3        4                           Tlaxpana
4        5                 Agricola Pantitlan
...    ...                                ...
1400  1401               Rinconada De Tarango
1401  1402                        El Politoco
1402  1403  Barrio Guadalupe Sta Catarina Yec
1403  1404                           La Presa
1404  1405                           La Araña

[1404 rows x 2 columns]

In [8]:
codigo_cierre = original_df[['codigo_cierre']].drop_duplicates().rename(columns={'codigo_cierre': 'codigo'}).reset_index(drop=True).dropna() 
codigo_cierre['id'] = codigo_cierre.index + 1
descripcion_mapping = { 'A': 'Afirmativo', 'N': 'Negativo', 'I': 'Informativo', 'D': 'Duplicados', 'F': 'Falso' }
codigo_cierre['descripcion'] = codigo_cierre['codigo'].map(descripcion_mapping)
codigo_cierre = codigo_cierre[['id', 'codigo', 'descripcion']]
codigo_cierre.to_csv('../Mod_CSV/codigo_cierre.csv', index=False)
codigo_cierre

   id codigo  descripcion
0   1      I  Informativo
1   2      A   Afirmativo
2   3      D   Duplicados
3   4      F        Falso

In [9]:
tipo_entrada = original_df[['tipo_entrada']].drop_duplicates().rename(columns={'tipo_entrada': 'tipo_entrada'}).reset_index(drop=True).dropna() 
tipo_entrada['id'] = tipo_entrada.index + 1
tipo_entrada = tipo_entrada[['id', 'tipo_entrada']]
tipo_entrada.to_csv('../Mod_CSV/tipo_entrada.csv', index=False)
tipo_entrada

   id      tipo_entrada
0   1  BOTÓN DE AUXILIO
1   2             RADIO
2   3   LLAMADA DEL 911
3   4            CÁMARA
4   5             REDES
5   6       APLICATIVOS
6   7    LLAMADA APP911
8   9  LECTOR DE PLACAS
9  10  SOS MUJERES *765

In [10]:
clasificacion_alarma = original_df[['clas_con_f_alarma']].drop_duplicates().rename(columns={'clas_con_f_alarma': 'clasificacion'}).reset_index(drop=True).dropna()
clasificacion_alarma['id'] = clasificacion_alarma.index + 1
clasificacion_alarma = clasificacion_alarma[['id', 'clasificacion']]
clasificacion_alarma.to_csv('../Mod_CSV/clasificacion_alarma.csv', index=False)
clasificacion_alarma

   id        clasificacion
0   1    URGENCIAS MEDICAS
1   2           EMERGENCIA
2   3               DELITO
3   4         FALSA ALARMA
4   5  INCIDENTES EXTERNOS

In [11]:
incidentes = original_df_1.copy()
incidentes = incidentes.merge(alcaldias[['id', 'alcaldia']], how='left', left_on='alcaldia_catalogo', right_on='alcaldia').rename(columns={'id': 'alcaldia_catalogo_id'})
incidentes = incidentes.merge(tipoincidente[['id', 'tipo_incidente']], how='left', left_on='incidente_c4', right_on='tipo_incidente').rename(columns={'id': 'tipo_incidente_id'})
incidentes = incidentes.merge(codigo_cierre[['id', 'codigo']], how='left', left_on='codigo_cierre', right_on='codigo').rename(columns={'id': 'codigo_cierre_id'})
incidentes = incidentes.merge(clasificacion_alarma[['id', 'clasificacion']], how='left', left_on='clas_con_f_alarma', right_on='clasificacion').rename(columns={'id': 'clasificacion_alarma_id'})
incidentes = incidentes.merge(tipo_entrada[['id', 'tipo_entrada']], how='left', left_on='tipo_entrada', right_on='tipo_entrada').rename(columns={'id': 'tipo_entrada_id'})
incidentes = incidentes.merge(colonias[['id', 'colonia']], how='left', left_on='colonia_catalogo', right_on='colonia').rename(columns={'id': 'colonia_catalogo_id'})

incidentes = incidentes[['folio', 'fecha_creacion', 'hora_creacion', 'dia_semana', 'fecha_cierre', 'hora_cierre', 'tipo_incidente_id', 'codigo_cierre_id', 'clasificacion_alarma_id', 'tipo_entrada_id', 'alcaldia_catalogo_id', 'colonia_catalogo_id', 'longitud', 'latitud']]

#incidentes.to_csv('../Mod_CSV/incidentes.csv', index=False)

incidentes = incidentes[incidentes['colonia_catalogo_id'].isin(colonias['id'])]

#Code for filling na values
incidentes['tipo_entrada_id'] = incidentes['tipo_entrada_id'].fillna(1).astype(int)
incidentes['alcaldia_catalogo_id'] = incidentes['alcaldia_catalogo_id'].fillna(1).astype(int)
incidentes['colonia_catalogo_id'] = incidentes['colonia_catalogo_id'].fillna(1).astype(int)
incidentes['codigo_cierre_id'] = incidentes['codigo_cierre_id'].fillna(1).astype(int)
incidentes['clasificacion_alarma_id'] = incidentes['clasificacion_alarma_id'].fillna(1).astype(int)
incidentes['tipo_incidente_id'] = incidentes['tipo_incidente_id'].fillna(1).astype(int)

#Creating the csv
incidentes.to_csv('../Mod_CSV/incidentes.csv', index=False)

print("Incidentes")
print(incidentes.head())

Incidentes
                folio fecha_creacion hora_creacion dia_semana fecha_cierre  \
0  C2C/20211229/00212     2021-12-29      23:21:20  Miércoles   2022-01-01
1  C2C/20211231/00183     2021-12-31      23:48:03    Viernes   2022-01-01
2  C2C/20220101/00012     2022-01-01      01:06:39     Sábado   2022-01-01
3  C2C/20220101/00070     2022-01-01      09:51:53     Sábado   2022-01-01
4  C2N/20211231/00128     2021-12-31      23:03:05    Viernes   2022-01-01

  hora_cierre  tipo_incidente_id  codigo_cierre_id  clasificacion_alarma_id  \
0    00:24:06                  1                 1                        1
1    06:29:52                  1                 2                        1
2    06:00:12                  2                 2                        1
3    12:54:10                  3                 2                        1
4    06:16:42                  4                 2                        2

   tipo_entrada_id  alcaldia_catalogo_id  colonia_catalogo_id   longitud  \
0                1                     1                    1 -99.163670
1                1                     1                    2 -99.144270
2                1                     1                    3 -99.148320
3                2                     2                    4 -99.165781
4                1                     3                    5 -99.060450

     latitud
0  19.421610
1  19.409910
2  19.415250
3  19.443649
4  19.414620